.app{
  position: relative;
  padding: 1rem;
  display:flex;
  align-items: center;
  justify-content: center;
}

.form{
  position:absolute;
  top:0;
  transform:translate(0%,50%);
  display:flex;
  flex-direction: column;
  max-width:300px;
}
label{
  color:rgba(0,0,0,0.7);
}
input{
  border:1px solid rgba(0,0,0,0.2);
  padding:.2rem 1.4rem;
  margin-bottom: 1rem;
  outline: none;
}
button{
  padding:.3rem .7rem;
  border:1px solid rgba(0,0,0,0.2);
  border-radius:5px;
  background-color: rgba(127, 255, 212, 0.267);
  text-align: center;
  cursor: pointer;
}